{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{{ root_url }}/">{{ site.title }}</a>
        {% include navigation.html %}
      </div>
    </div>
  </div>
  
  <div class="container" id="content">
    {{ content | expand_urls: root_url }}
  </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
