---
layout: default
---

<div class="blog-index row">
  <div class="span8">
    {% assign index = true %}
    {% for post in paginator.posts %}
    {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
    {% endfor %}
    <div class="pager">
      <ul>
        {% if paginator.next_page %}
        <li><a class="previous" href="{{paginator.next_page}}">&larr; Older</a></li>
        {% endif %}
        <li><a href="/blog/archives">Blog Archives</a></li>
        {% if paginator.previous_page %}
        <li><a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
  <aside class="sidebar span4">
    {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
    {% else %}
    {% include_array default_asides %}
    {% endif %}
  </aside>
</div>

